article.quote {
  float: left; /* not working */
  margin: 50px auto;
  width: 30%; /* change width? */
  height: auto;
  padding: 3%;
  font-family: cursive; /* not working */
  color: white; /* not working */
}
img {
  text-align: center;
  max-width: 100%;
  height: auto;
  width: auto;
}
aside {
  float: right; /* not working */
  margin: 50px auto;
  width: 60%; /* change width? */
  height: auto;
  padding: 4%;
}
article.blogs {
  display: inline;
  float: left; /* not working */
  clear: both;
  text-align: left
}
