h1 {
  height: 2em;
/*  border-width: 3px;
  border-style: solid;
  border-color: white; At the moment, this is conflicting with h1 from default.css?*/
  font-size: 150%;
  margin: 5px 5px 5px 5px;
  width: 95%;
  display: block;
  float: left;
  clear: both;
}

img {
  float:left;
  clear: both;
  display: block;
  margin-right: 10%;
  margin-left:  10%;
}

.quote {
  font-family: cursive;
  color: white;
}

.blogs {
  display: inline;
  float: left;
  clear: both;
}

.social {
  float: right;
  clear: both;
  margin-right: 50px;
}

.social ul {
  padding: 10px;
}

.social ul li {
  display: inline;
}