h1 {
  background-color: #FF5E00
  height: 1.5em;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  font-size: 200%;
  padding: .5em .5em .5em .5em;
  position: static;
  width: 95%;
  margin: 5px 5px 5px 5px;
}
/* Why is the orange background color not showing up? */

.quote {
  font-family: cursive;
  color: white;
}

.blogs {
  border-width: 3px;
  border-style: dashed;
  border-color: white;
}