.content {
  background-color: white;
  margin: 75px 40px;
  padding: 20px;
  text-align: center
}

.top-box {
  display: block;
  height: 100%;
  width: 90%;
  border: solid 2px black;
  margin: 20px 5px;
  padding: 20px;
  text-align: center;
}

.left-box {
  /*position: relative;*/
  display: inline-block;
  height: 100%;
  width: 45%;
  float: left;
  border: solid 2px black;
  margin: 20px 5px;
  padding: 20px;
  text-align: left;
}

.right-box {
  /*position: relative;*/
  display: inline-block;
  height: 100%;
  width: 45%;
  float: left;
  border: solid 2px black;
  margin: 20px 5px;
  padding: 20px;
  text-align: left;
}

.small-image {
  width: 300px;
  height: 440px;
  /*display: inline-block;*/
}